.red{
    background: red;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}



.yellow{
    background: yellow;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}


.green{
    background: green;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}


.orange{
    background: orange;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

.blue{
    background: blue;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

.brown{
    background: brown;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

.black{
    background: black;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

.blueviolet{
    background: blueviolet;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

.chartreuse{
    background: chartreuse;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

.darkturquoise{
    background: darkturquoise;
    border: none;
    width: 300px;
    height: 100px;
    font-size: 26px; 
    color: white;
}

